body {
    margin: 0px;
    font-family: 'Playfair Display', serif;
    font-size: 19px;

    
}

            
            /*   SECCION 1 */

ul {
    text-align: center;
    padding:0px;
}

#navbar {
    width: 100%;
    /*padding: 7px;*/
    padding-top: 2px;
    background-color: rgba(53, 88, 33, 0.51);
    padding-bottom: 3px;
            
}
#primeraparte {
    height: 768px;
    background-image: url("img/fotolaguna.jpg");
    background-size: cover;
}
#elementos {
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 21px;
}
#texto1 {
    text-align: center;
}

h1 {
    color: black;
    margin-left: 27%;
    margin-top: 17%;
    display: inline-block;
    font-size: 70px;
}

                   
                 /*   SECTION DOS   */

#segundaparte {
    display: inline-block;
    margin-top: 10%;
    background-image: url("");

}
.sector {
    width: 30%;
    text-align: center;
    padding: 17px;
    display: inline-block;
    margin-right: -2%;
}

.fotos_redondas {
    width: 300px;
    height: 250px;
    border-radius: 48%;
}




/*   SECTION TRES  */
#formulario {
    border: 1px solid black;
    padding-right: 100px;
    padding-left: 20px;
}
#terceraparte {
    display: inline-flex;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 85px;
}
#mapa {
    margin-left: 2%;
    margin-right: 7%;
    border: 1px solid black;
}
footer {
    text-align: center;
    height: 200px;
    background-color: #6E6B6A;
}