body {
    margin: 0px;
    font-family: 'Playfair Display', serif;
    font-size: 19px;

    
}

            
                       /*   SECCION 1 */

ul {
    text-align: center;
    padding:0px;
}

#navbar {
    width: 100%;
    /*padding: 7px;*/
    padding-top: 2px;
    background-color: rgba(53, 88, 33, 0.51);
    padding-bottom: 3px;
            
}
#primeraparte {
    height: 768px;
    background-image: url("img/fotolaguna.jpg");
    /*filter: grayscale(50%);----------------------- Se utiliza para agregar opacidad a una imagen*/
    background-size: cover;
}
#elementos {
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 23px;
    color: white;
}
#texto1 {
    text-align: center;
}

h1 {
    color: white;
    margin-left: 9%;
    margin-top: 10%;
    display: inline-block;
    font-size: 70px;
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    width: 351px;
    height: 215px;
    padding-top: 12px;
       }

h2 {
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #F51A08;
    width: 415px;
    height: 47px;
    margin-left: 137px;
    margin-top: -31px;
    font-family: 'Indie Flower', cursive;
    font-size: 31px;

}


                   
          
                       /*   SECTION DOS   */

#segundaparte {
    display: inline-block;
    margin-top: 10%;
    background-image: url("");

}
.sector {
    width: 30%;
    text-align: center;
    padding: 17px;
    display: inline-block;
    margin-right: -2%;
}

.fotos_redondas {
    width: 300px;
    height: 250px;
    border-radius: 48%;
}




                          /*   SECTION TRES  */
#formulario {
    border: 1px solid black;
    padding-right: 100px;
    padding-left: 20px;
}
#terceraparte {
    display: inline-flex;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 85px;
}
#mapa {
    margin-left: 2%;
    margin-right: 7%;
    border: 1px solid black;
}
footer {
    text-align: center;
    height: 200px;
    background-color: #6E6B6A;
}